<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/1f9527e952.js" crossorigin></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  {% block css %}

  {% endblock css %}
  <title>TaskLogger</title>
</head>

<body>
  <div class="body-sub">

    {% include 'base/navbar.html' %}

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li style="color: red; list-style: none;">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% block c %}

    {% endblock %}
  </div>

  <script src="{% static 'js/home.js' %}"></script>
  {% block javascript %}

  {% endblock javascript %}
</body>

</html>